*.log
*/.ipynb_checkpoints
*.xlsx
*.vscode
*.DS_Store
logs/*
local/tld-referral/tld/logs/*
local/tld-referral/tld_for_databricks/logs/*
tld-referral/tld/logs/*
tld-referral/tld_for_databricks/logs/*
*.csv
*.pyc
*.xml
*.iml
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.json
*.sqlite
*.suo
*.pyc
*/*.pyc
settings.py
upload_dist_local.sh